body {
  /* Caso o site não carregue as fontes definidas */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* reset margin */
h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0;
}

/* reset */
ul {
  padding: 0;
  /* Remove as Bolinhas da lista */
  list-style: none;
}

/* reset */
a {
  /* Remove o sublinhado */
  text-decoration: none;
  /* Herdar a cor do pai */
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}
