body {
  /* Caso o site não carregue as fontes definidas */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  /* Remove as Bolinhas da lista */
  list-style: none;
}

a {
  /* Remove o sublinhado */
  text-decoration: none;
}

.header-bg {
  background-color: #000;
}

.header {
  display: flex;
  flex-wrap: wrap; /* Para quebrar o elemento em linhas */
  gap: 20px;
  justify-content: space-between; /* Espaçamento entre logo e menu */
  align-items: center; /* Itens do menu alinhados com a Marca  */
  box-sizing: border-box; /* Faz com que o valor de padding nao ultrapasse o limite definido */
  padding: 20px;
  max-width: 1200px; /* Tamanho do container */
  margin-left: auto; /* Alinhamento do container ao centro */
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap; /* Para quebrar o elemento em linhas */
  gap: 40px;
}
/*  */
.header-menu a {
  display: inline-block; /* Para nao permitir que o btn fique em cima de outro */
  padding: 16px 0px; /* Para aumentar a area de contato do botao */
  color: #fff;
  font-size: 18px; /* Tamanho da fonte */
  position: relative; /* Para ser o pai do Absolute */
}

/* Barra animação do menu */
.header-menu a:after {
  content: ""; /* Conteudo sempre vazio */
  display: block;
  height: 2px;
  width: 0px; /* Tamanho inicial da barra */
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s; /* Tempo de animação da barra */
  position: absolute; /* Para que nao adicione mais px ao elemento */
}

/* Quando passar mouse por cima 'hover' fala com 'after' */
.header-menu a:hover:after {
  width: 100%;
}

/* Abaixo de 810px estilize como: */
@media (max-width: 810px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: #111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  /* Animação ao passar o mouse por cima do menu */
  .header-menu a:hover {
    background-color: #2e2e2e;
  }
  .header-menu a:after {
    display: none;
  }
}
/* Abaixo de 400px estilize como: */
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
